#add {
  opacity:0;
  width:1px;
  height:1px;
  margin:0;
}
.form {
  width:400px;
  height:30px;
  background: gray;
  margin:20px;
}
.toDoText {
  width: 200px;
  margin-top:5px;
  margin-left: 100px;
}
.toDo {
  list-style:none;
  background:red;
  width:330px;
  margin-left:40px;
  margin-top:-20px;
  height:300px;
  overflow:auto;
}
.zakladki {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.all {
  margin-top:15px;
  height:30px;
}
.active {
  margin-top:15px;
  height:30px;
}
.end {
  margin-top:15px;
  height:30px;
}